

#header{
  background-color:rgb(244, 240, 240);
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 35px;
  padding-right: 45px;
  color: white;

  /* border: solid black 2px; */
}



@media (max-width: 766px){

  #header{
     /* border: solid black 2px; */
     position: relative;

  }

}


