

#header{
  /* background-color:rgb(244, 240, 240); */
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 35px;
  padding-right: 45px;
  color: white;
   
  /* border: solid black 2px; */
}


@media (min-width: 1500px){
  #header{
    justify-content: space-around;
    gap: 280px;
  }
}


@media (max-width: 766px){
 
  #header{
    padding-left: 15px;
    padding-right: 25px;
  }
 

}


