


.div-ham{
  width: 50px;
  display: none;
  /* border: 2px solid black; */
}

.div-ham > img {
  filter: invert(1) brightness(2);
  width: 32px;
  height: 32px;
  object-fit: contain;
}


@media (max-width: 767px){
  
  .div-ham{
    display: block;
  }
}