


.logos{
 width: 150px;
 /* border: solid 2px black; */
 gap: 10px;
 padding: 10px;
 /* position: relative; 
 -webkit-box-reflect: below ; */


}

.logos > img{
  filter: invert(1) brightness(2);
 width: 45px;
 height: 45px;
 object-fit: contain;
}

.logos > p {
 font-size: 20px;
 font-weight: 800;
}

